/* 
    Document   : site.css
    Created on : 10/03/2014, 16:49:35
    Author     : pedro
    Description:
        Purpose of the stylesheet follows.
*/
#page {
    margin-bottom: 5px;
    background: white;
    width:100%;
    padding:0;
}
#header {
    margin: 0;
    padding: 0;
    height: 50px;
}
#content {
    padding: 20px;
}
.container {
    width: 100%!important;
}
.span-19 {
    width: 100%;
    margin-left:0!important;
}
.breadcrumb>li+li:before {
    content: none!important;
}
#footer {
    left:0px;
    bottom:0px;
    width:100%;
    height:35px;
    padding: 10px;
    margin: 10px 0;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}
.row {
    margin-left: 0!important;
}
input {
    height: 30px!important;
}
.page-header {
    margin: 10px 0 20px!important;
}
.panel-primary .panel-heading {
    background-color: #337ab7;
    color: #FFF;
    border-color: #337ab7;
}
.panel-green {
    border-color: #5cb85c!important;
}
.panel-green .panel-heading {
    background-color: #5cb85c;
    color: #FFF;
    border-color: #5cb85c;
}
.panel-yellow {
    border-color: #f0ad4e!important;
}
.panel-yellow .panel-heading {
    background-color: #f0ad4e;
    color: #FFF;
    border-color: #f0ad4e;
}
.panel-red {
    border-color: #d9534f!important;
}
.panel-red .panel-heading {
    background-color: #d9534f;
    color: #FFF;
    border-color: #d9534f;
}
.panel-heading span {
    font-size: 23px;
}
.important {
    color: red;
}
.search_form {
    margin-top: 20px;
}
.search-buttons button:last-child {
    margin-left: 5px;
}