@media (min-width: 801px) {
    .admin-buttons .search_button, .admin-buttons .search_form {
        display:none
    }
}
@media (max-width: 450px) {
    .grid-view .summary {
        text-align: left;
    }
}
@media (max-width: 500px) {
    #header {
        height: 60px!important;
    }
}
@media (max-width: 600px) {
    .dashboard-card .row {
        text-align: left;
    }
}
@media (max-width: 800px) {
    .grid-view .filters {
        display:none
    }
}
@media (max-width: 979px) {
    #header {
        height: 60px!important;
    }
}